# virtural environment
.envrc
.venv
venv
activate

# python cache
__pycache__
.*cache
build
dist

# build
*.egg-info

# django
*.sqlite
db.sqlite3
staticfiles

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv
